/* body */
body {
    background: rgb(0, 0, 0) url("../img/Stickers\ 1.jpg") center;
}

/* girl1.html body */
.girls {
    /* background: rgb(51, 47, 47); */
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(78, 26, 31, 1) 50%, rgba(125, 123, 131, 1) 100%);
}

/* header + nav */
header {
    background-color: transparent;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px rgb(59, 8, 8);
    text-align: center;
    font-size: 600%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    text-align: center;
}

ul li {
    display: inline-block;
    padding: 15px;
    box-shadow: 4px 8px 10px rgb(0, 0, 0);
    border-radius: 50%;

}

ul li a {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px rgb(59, 8, 8);
    font-size: 32px;
    margin: 5px;
    text-decoration: none;
}

ul li a:hover {
    color: rgb(80, 79, 79);
    text-shadow: 2px 2px rgb(0, 0, 0);
    text-decoration: none;
}

/* main */

/* section */
section {
    text-align: center;
    margin: 50px;
    margin-bottom: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 10px solid rgb(59, 8, 8);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(59, 8, 8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 15px solid rgb(59, 8, 8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 42px;
    font-weight: bolder;
    background-color: rgb(0, 255, 255);
}

.cards {
    text-align: center;
    color: rgb(59, 8, 8);
    font-size: 48px;
    font-weight: bold;
}

/* girls */
.container {
    margin: auto;
    padding: 15px;
    text-align: center;
}

button {
    display: inline-block;
    margin-top: 40px;
    margin-left: 155px;
    border: 5px solid rgb(59, 8, 8);
    background-color: rgb(59, 8, 8);
}

.carousel-slide {
    width: 800px;
    height: auto;
}

.small-pic {
    height: 80px;
}

.hero {
    text-align: center;
    border: 10px solid rgb(59, 8, 8);
    width: 870px;
    margin-left: 190px;
}

h2 {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px rgb(59, 8, 8);
    font-size: 32px;
    text-align: center;
}

p {
    color: rgb(240, 248, 255);
    text-align: left;
}

/* footer */
footer {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px rgb(59, 8, 8);
    font-size: 32px;
    margin-top: 100px;
}

/* icons */
.fa-instagram {
    color: rgb(240, 248, 255);
}