* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/* body */
body {
    background: rgb(0, 0, 0) url("../img/Stickers\ 1.jpg") center;
}

/* girl1.html body */
.girls {
    /* background: rgb(51, 47, 47); */
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(78, 26, 31, 1) 50%, rgba(125, 123, 131, 1) 100%);
}

/* container */
.container {
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
}

/* header + nav */
header {
    background-color: transparent;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 4px 4px rgb(59, 8, 8);
    text-align: center;
    font-size: 600%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 40px;
}

/* navigation bar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
    margin: 30px 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: rgb(51, 51, 51);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(221, 221, 221);
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* main */

/* section */
section {
    text-align: center;
    margin: 50px;
    margin-bottom: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    border: 10px solid rgb(59, 8, 8);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(59, 8, 8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 15px solid rgb(59, 8, 8);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.desc {
    padding: 15px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-style: italic;
    font-size: 42px;
    font-weight: bolder;
    background-color: rgb(0, 255, 255);
}

.cards {
    text-align: center;
    color: rgb(59, 8, 8);
    font-size: 48px;
    font-weight: bold;
}

/* girls */
.container-fluid {
    margin: auto;
    padding: 15px;
    text-align: center;
}

.carousel-slide {
    width: 800px;
    height: auto;
}

.small-pic {
    height: 80px;
}

.hero {
    text-align: center;
    border: 10px solid rgb(59, 8, 8);
    width: 870px;
    margin-left: 190px;
}

h2 {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px rgb(59, 8, 8);
    font-size: 32px;
    text-align: center;
}

p {
    color: rgb(240, 248, 255);
    text-align: left;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}

.col-1 {
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}

.col-1 h2 {
    font-size: 54px;
    color: rgb(0, 0, 0);
}

.col-1 h3 {
    font-size: 30px;
    color: rgb(255, 0, 0);
    font-weight: 100;
    margin: 20px 0 10px;
}

.col-1 p {
    font-size: 16px;
    color: rgb(129, 129, 129);
    font-weight: 100;
}

.col-1 h4 {
    margin: 30px 0;
    font-size: 20px;
    color: rgb(0, 0, 0);
}

button {
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(78, 26, 31, 1) 50%, rgba(125, 123, 131, 1) 100%);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}

button img {
    width: 30px;
    display: none;
}

button:hover img {
    display: block;
}

button:hover {
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 50px;
    text-decoration: none;
}

.cart:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.col-1::after {
    content: '';
    width: 10px;
    height: 57%;
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(78, 26, 31, 1) 50%, rgba(125, 123, 131, 1) 100%);
    position: absolute;
    left: -40px;
    top: 8px;
}

.col-2 {
    position: relative;
    flex-basis: 54%;
    display: flex;
    align-items: center;
}

.girl1 {
    width: 100%;
}

.color-box {
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(74, 71, 75);
    background: linear-gradient(90deg, rgba(74, 71, 75, 1) 0%, rgba(78, 26, 31, 1) 50%, rgba(125, 123, 131, 1) 100%);
    border-radius: 80px 0 0 20px;
    height: 100%;
    width: 80%;
    z-index: -1;
    transform: translateX(150px);
}

.fa-instagram,
.fa-snapchat,
.fa-burger,
.fa-cart-plus {
    height: 13px;
    margin: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
}

/* footer */
footer {
    color: rgb(255, 255, 255);
}

.back {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.back:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
}